<main>
  <section>
    <article class="uno">
      <img src="https://angular.io/generated/images/marketing/home/angular-mix.png" alt="">
      <p>Join us for Angular Mix <br>
          October 10th-12th, 2018</p>
      <a href="#">LEARN MORE</a>
    </article>
    <article class="dos">
      <img class="tvs" src="https://angular.io/generated/images/marketing/home/responsive-framework.svg" alt="">
     
     <div class="txt">
       <h2>DEVELOP ACROSS ALL PLATFORMS</h2><br>
       <p>Learn one way to build applications with Angular and reuse your code and abilities to build apps for any deployment target. For web, mobile web, native mobile and native desktop.</p>
     </div>
    </article>
    <hr>

    <article class="tres">
      <div class="txt">
        <h2>SPEED & PERFORMANCE</h2><br>
        <p>Achieve the maximum speed possible on the Web Platform today, and take it further, via Web Workers and server-side rendering. <br>

            Angular puts you in control over scalability. Meet huge data requirements by building data models on RxJS, Immutable.js or another push-model.</p>
      </div>

      <img class="tvs" src="https://angular.io/generated/images/marketing/home/speed-performance.svg" alt="">
      </article>
      <hr>

      <article class="cuatro">
        <img class="tvs" src="https://angular.io/generated/images/marketing/home/joyful-development.svg" alt="">
          <div class="txt">
            <h2>INCREDIBLE TOOLING</h2><br>
            <p>
                INCREDIBLE TOOLING
                Build features quickly with simple, declarative templates. Extend the template language with your own components and use a wide array of existing components. Get immediate Angular-specific help and feedback with nearly every IDE and editor. All this comes together so you can focus on building amazing apps rather than trying to make the code work.</p>
          </div>
    
          </article>
          <hr>
          <article class="cinco">
              <div class="txt">
                <h2>LOVED BY MILLIONS</h2><br>
                <p>From prototype through global deployment, Angular delivers the productivity and scalable infrastructure that supports Google's largest applications.</p>
              </div>
        
              <img class="tvs" src="https://angular.io/generated/images/marketing/home/loved-by-millions.svg" alt="">
              </article>
              <article class="unoo">
                  <img src="https://angular.io/generated/images/marketing/home/code-icon.svg" alt="">
                  
                  <div class="txt">
                    <h2>GET STARTED</h2>
                    <p>Start building your <br> Angular application.</p>
                  </div>
                </article>
  </section>
</main>

